[submodule "vim-bundles/vim-colors-solarized"]
	path = vim-bundles/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-bundles/vim-flavored-markdown"]
	path = vim-bundles/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim-bundles/vim-markdown"]
	path = vim-bundles/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim-bundles/vim-numbertoggle"]
	path = vim-bundles/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim-bundles/vim-surround"]
	path = vim-bundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-bundles/vim-javascript"]
    path = vim-bundles/vim-javascript
    url = git://github.com/pangloss/vim-javascript.git
[submodule "vim-bundles/jshint.vim"]
    path = vim-bundles/jshint.vim
    url = git://github.com/wookiehangover/jshint.vim
[submodule "vim-bundles/R-Vim-runtime"]
    path = vim-bundles/R-Vim-runtime
    url = git://github.com/jalvesaq/R-Vim-runtime
[submodule "vim-bundles/vim-pandoc"]
    path = vim-bundles/vim-pandoc
    url = git://github.com/vim-pandoc/vim-pandoc
[submodule "vim-bundles/vim-pandoc-syntax"]
    path = vim-bundles/vim-pandoc-syntax
    url = git://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim-bundles/vim-rmarkdown"]
    path = vim-bundles/vim-rmarkdown
    url = git://github.com/vim-pandoc/vim-rmarkdown
[submodule "vim-bundles/jedi-vim"]
    path = vim-bundles/jedi-vim
    url = git://github.com/davidhalter/jedi-vim
[submodule "vim-bundles/supertab"]
    path = vim-bundles/supertab
    url = git://github.com/ervandew/supertab
[submodule "vim-bundles/ctrlp.vim"]
    path = vim-bundles/ctrlp.vim
    url = git://github.com/kien/ctrlp.vim
[submodule "vim-bundles/vim-easymotion"]
    path = vim-bundles/vim-easymotion
    url = git://github.com/easymotion/vim-easymotion
[submodule "vim-bundles/vim-json"]
    path = vim-bundles/vim-json
    url = git://github.com/elzr/vim-json
[submodule "vim-bundles/vim-jdaddy"]
    path = vim-bundles/vim-jdaddy
    url = git://github.com/tpope/vim-jdaddy
[submodule "vim-bundles/tlib_vim"]
    path = vim-bundles/tlib_vim
    url = git://github.com/tomtom/tlib_vim.git
[submodule "vim-bundles/vim-addon-mw-utils"]
    path = vim-bundles/vim-addon-mw-utils
    url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-bundles/vim-snipmate"]
    path = vim-bundles/vim-snipmate
    url = git://github.com/garbas/vim-snipmate.git
[submodule "vim-bundles/vim-snippets"]
    path = vim-bundles/vim-snippets
    url = git://github.com/honza/vim-snippets.git
[submodule "vim-bundles/vim-yaml"]
    path = vim-bundles/vim-yaml
    url = git://github.com/avakhov/vim-yaml.git
