[submodule "vim-bundles/vim-colors-solarized"]
	path = vim-bundles/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-bundles/vim-flavored-markdown"]
	path = vim-bundles/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim-bundles/vim-markdown"]
	path = vim-bundles/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim-bundles/vim-numbertoggle"]
	path = vim-bundles/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim-bundles/vim-surround"]
	path = vim-bundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-bundles/vim-javascript"]
    path = vim-bundles/vim-javascript
    url = git://github.com/pangloss/vim-javascript.git
[submodule "vim-bundles/jshint.vim"]
    path = vim-bundles/jshint.vim
    url = git://github.com/wookiehangover/jshint.vim
[submodule "vim-bundles/R-Vim-runtime"]
    path = vim-bundles/R-Vim-runtime
    url = git://github.com/jalvesaq/R-Vim-runtime
